@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope&family=Playfair+Display:wght@500&display=swap");
body{
    background-color:lightcyan;
    margin: 0;
}
html{
    font-family: 'Manrope', sans-serif;
}
*{
    box-sizing: border-box;
}